<div class="card mb-3  mx-3 coa" style="max-width: 840px;">
    <div class="row g-0">
        <div class="col-md-4 ">
            <img src="{{imge}}" class="img-fluid rounded-start" id="img1" alt="...">
            <img src="{{imge}}" class="img-fluid rounded-start" id="img2" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title tx">{{bt}}</h5>
                <p class="card-text txl">This design Site Location is {{sl}} &#38; Site Area is {{sa}}</p>
                <p class="card-text txl">{{des}}</p>
                <p><a href="{{mpdf}}" class="card-text txl" style="text-decoration: none;" target="_blank">Get
                        Design</a></p>
                <p class="card-text txl"><small class="text-muted">Last updated <b>{{dt}}</b></small></p>
            </div>
        </div>
    </div>
</div>